<footer id="footer">
	<div>
		&copy; Copyright 2019 by Mike Prince
	</div>
	<div>
		The drawings, plans, models, designs, specifications, reports, photographs, computer software, surveys, calculations and other data contained in this website are made available for your review and is for informational purposes only. All information is provided “as is” without any guarantee, representation, condition or warranty of any kind, either express, implied, or statutory. The owners of this website and its contributors assume no liability with respect to any reliance you place on the information. If you rely on the information in any way, you assume the entire risk as to the truth, accuracy, currency, or completeness of the information.
	</div>
	<div>
		<p>
			All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.
		</p>
		<p>
			Harbor Freight&reg; is a registered trademark of Harbor Freight Tools USA, Inc. in the United States and/or other countries.
		</p>
	</div>
</footer>