<div id="header">
	<div class="brand">Overland Science</div>
	<img src="/images/os-logo.png" />
</div>
<ul id="navlinks">
	<li><a href="/">Home</a></li>
	<li class="small-only"><a href="/week/">8 Weeks To Adventure</a></li>

	<div class="week-nav">
		<div class="nav-section-header">8 Weeks To Adventure</div>
		<li><a href="/weeks/get-out/">Week 1: Get Out!</a></li>
		<li><a href="/weeks/every-day-carry/">Week 2: Every Day Carry</a></li>
		<li><a href="/weeks/backyard-camping/">Week 3: Backyard Camping</a></li>
		<li><a href="/weeks/tune-up/">Week 4: Tune-Up</a></li>
		<li><a href="/weeks/making-fire/">Week 5: Make Fire</a></li>
		<li><a href="/weeks/state-park/">Week 6: State Park</a></li>
		<li><a href="/weeks/shelter/">Week 7: Shelter</a></li>
		<li><a href="/weeks/national-forest/">Week 8: National Forest</a></li>
	</div>

	<div class="nav-section-header">About</div>
	<li><a href="/about/the-mission/">The Mission</a></li>
	<li><a href="/about/the-science/">The Science</a></li>
	<li><a href="/about/team/">Team</a></li>

	<div class="nav-section-header">Packing Lists</div>
	<li><a href="/packing/every-day-carry/">Every Day Carry</a></li>
	<li><a href="/packing/weekend-camping/">Weekend Camping</a></li>
	<li><a href="/packing/meals/">Meals</a></li>
</ul>