<div id="header">
	<div class="brand">Overland Science</div>
	<img src="/images/os-logo.png" />
</div>
<ul id="navlinks">
	<li><a href="/">Home</a></li>

	<div class="nav-section-header">About</div>
	<li><a href="/about/the-mission/">The Mission</a></li>
	<li><a href="/about/the-science/">The Science</a></li>
	<li><a href="/about/team/">Team</a></li>

	<div class="nav-section-header">Packing Lists</div>
	<li><a href="/packing/every-day-carry/">Every Day Carry</a></li>
	<li><a href="/packing/weekend-camping/">Weekend Camping</a></li>
	<li><a href="/packing/meals/">Meals</a></li>
</ul>