<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Overland Science</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115813062-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115813062-1');
    </script>
  </head>
  <body>
    <div id="content">
      {{ partial "masthead.html" . }}
      <div id="main">
        {{ block "main" . }}
          {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
